<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.temptarget.TempTargetMapper">

	<insert id="InsertTempTarget" parameterType="myMap">
		INSERT INTO
			TEMP_TARGET
		(
			 SEQGROUP
			,NAME
			,PHONENUMBER
			,ADDRESS
			,ETC1
			,CREATEDATE
		)
		VALUES
		(
			 #{seqgroup}
			,#{name}
			,REPLACE(#{phonenumber}, '-', '')
			,#{address}
			,#{etc1}
			,now()
		)
	</insert>

</mapper>