<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.message.ArsalarmttsMapper">

	<sql id="addWhere">
		AND ISUSE = 'Y'

		<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(searchWord)">
			AND TTS_MENT_TITLE LIKE CONCAT('%', #{searchWord}, '%')
		</if>
	</sql>

	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQARSALARMTTS
			,TTS_MENT_TITLE
			,TTS_MENT_INTRO_01
			,TTS_MENT_SUB_INTRO
			,REC_FILE_PREFIX
			,REC_FILE_NAME
			,REC_FILE_URL
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d') AS CREATEDATE
			,DATE_FORMAT(CREATEDATE, '%H:%i:%s') AS CREATETIME
			,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
			,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
			,ISUSE
		FROM
			ARSALARMTTS
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY SEQARSALARMTTS DESC
		LIMIT #{start}, #{end}
	</select>

	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(*)
		FROM
			ARSALARMTTS
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<insert id="RegisterData" parameterType="myMap">
		INSERT INTO
			ARSALARMTTS
		(
			 TTS_MENT_TITLE
			,REC_FILE_PREFIX	<!-- 생성된 파일 전체 경로 -->
			,REC_FILE_NAME		<!-- 파일명 -->
			,REC_FILE_URL		<!-- 생성된 파일 Web Url -->
			,CREATEDATE
			,ISUSE
			,DLKEY
		)
		VALUES
		(
			 #{ttsMentTitle}
			,#{filePath}
			,#{fileName}
			,#{fileUrl}
			,now()
			,'Y'
			,#{dlkey}
		)
	</insert>

</mapper>