<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.main.MainMapper">

	<sql id="addWhere">
		AND ISUSE = 'Y'
		<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(userId)">
			AND USER_ID = #{userId}
		</if>
		<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(sequser)">
			AND SEQUSER = #{sequser}
		</if>
	</sql>


	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" keyProperty="seq" useGeneratedKeys="true" >
	</update>
	<select id="FindUserInfo" parameterType="myMap" resultType="myCamelMap">
	</select>
	
	<select id="FindAdminInfo" parameterType="myMap" resultType="myCamelMap">
	</select>
	
	<update id="ModifyAdminInfo" parameterType="myMap">
	</update>

</mapper>