<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.makettshistory.MakettshistoryMapper">

	<insert id="RegistMakeTTSHistory" parameterType="myMap" useGeneratedKeys="true" keyProperty="seqmaketts">
		INSERT INTO
			MAKETTSHISTORY
		(
			 TID
			,COMPANY_NAME
			,RESULT
			,FILE_NAME
			,FILE_PATH
			,FILE_URL
			,MESSAGE
			,TTS_MENT
			,CREATEDATE
		)
		VALUES
		(
			 #{tid}
			,#{groupName}
			,#{result}
			,#{fileName}
			,#{filePath}
			,#{fileUrl}
			,#{message}
			,#{ttsMent}
			,now()
		)
	</insert>

</mapper>