<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.userinfo.UserInfoMapper">

	<select id="FindUserInfo" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQUSER
			,USER_ID
			,USER_PW
			,ISUSE
			,CREATEDATE
			,UPDATEDATE
			,DELETEDATE
		FROM
			USER_INFO
		WHERE 1=1
			AND ISUSE = 'Y'
			AND USER_ID = #{userId}
			AND USER_PW = #{userPw}
		ORDER BY
			CREATEDATE DESC
		LIMIT 1
	</select>

</mapper>