<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.acs.mapper.userinfo.UserInfoMapper">

	<sql id="addWhere">
		AND ISUSE = 'Y'
		<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(userId)">
			AND USER_ID = #{userId}
			AND USER_PW = #{userPw}
		</if>
		<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(sequser)">
			AND SEQUSER = #{sequser}
		</if>
	</sql>

		<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap">
			INSERT INTO USER_INFO
			(
			USER_ID
			,USER_PW
			,USER_NAME
			,TEL
			,PHONENUMBER
			,EMAIL
			,CREATEDATE
			)
			 VALUES
			(
			  	 #{userId}				<!-- ID -->
				,password(#{userPw})	<!-- PW -->
				,#{userName}			<!-- 회원이름 -->
				,#{tel}					<!-- 유선전화번호 -->
				,#{phoneNumber}			<!-- 휴대폰번호-->
				,#{email}				<!-- 이메일 -->
				,now()					<!-- 등록일 -->
			)
	</update>

	<select id="FindUserInfo" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQUSER
			,USER_ID
			,USER_PW
			,USER_NAME
			,TEL
			,PHONENUMBER
			,EMAIL
			,EVENT_AGREE
			,CALLER_ID
			,ISUSE
			,CREATEDATE
			,UPDATEDATE
			,DELETEDATE
		FROM
			USER_INFO
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY
			CREATEDATE DESC
		LIMIT 1
	</select>
	
	<select id="FindAdminInfo" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQUSER
			,USER_ID
			,USER_PW
			,USER_NAME
			,TEL
			,PHONENUMBER
			,EMAIL
			,EVENT_AGREE
			,CALLER_ID
			,ISUSE
			,CREATEDATE
			,UPDATEDATE
			,DELETEDATE
		FROM
			ADMIN_INFO
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY
			CREATEDATE DESC
		LIMIT 1
	</select>
	
	<update id="ModifyAdminInfo" parameterType="myMap">
		UPDATE
			ADMIN_INFO
		SET
			USER_NAME 		= #{userName}
			,TEL 			= #{tel}
			,PHONENUMBER 	= #{phonenumber}
			,EMAIL 			= #{email}
			,EVENT_AGREE 	= #{eventAgree}
			,UPDATEDATE 	= now()
			<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(userPw)">
			,USER_PW 		= #{userPw}
			</if>
		WHERE 1=1
			AND SEQUSER = #{sequser}
	</update>
	
	<update id="ModifyUserInfo" parameterType="myMap">
		UPDATE
			USER_INFO
		SET
			 USER_NAME 		= #{userName}
			,TEL 			= #{tel}
			,PHONENUMBER 	= #{phonenumber}
			,EMAIL 			= #{email}
			,EVENT_AGREE 	= #{eventAgree}
			,UPDATEDATE 	= now()
			<if test="@com.inbiznetcorp.acs.framework.config.mybatis.Utily@isNotEmpty(userPw)">
			,USER_PW 		= #{userPw}
			</if>
		WHERE 1=1
			AND SEQUSER = #{sequser}
	</update>

</mapper>